body {
    background-color: #1a1a1a!important; /* Dark background color */
    color: #ffffff!important; /* Dark text color */
    font-family: Arial, sans-serif!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100vh!important;
    margin: 0!important;
}
.mainContainer {
    width: 100%;
}
.container {
    text-align: center;
    background-color: #333333; /* Slightly lighter dark color for contrast */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.footnote {
    text-align: center;
    background-color: #333333; /* Slightly lighter dark color for contrast */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footnote a {
  color: white;
}
.calendar h5 {
    display: inline-block;
}
.genInfo {
    width: 50%;
    margin: auto;
}
input, button {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
input {
    width: 80%!important;
}
button {
    background-color: #0078d4; /* Blue color */
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px!important;
}
button:hover {
    background-color: #005a9e; /* Darker blue on hover */
}
.loading-icon {
    display: none;
    margin-top: 10px;
}
input[type="password"] {
    width: 50%!important;
    display: inline-block;
}
.form-select {
    display: inline-block!important;
    width: 10%!important;
    padding: .575rem 2.5rem .575rem .75rem!important;
}
.dateTimePicker {
    width: 200px!important;
    display: inline-block;
    margin-right: 10px;
}
.flatpickr-month div {
    padding: 0!important;
}
.flatpickr-time > div > input {
    padding: 0 0 20 0!important;
}
.flatpickr-current-month > .numInputWrapper span.arrowDown, .flatpickr-current-month > .numInputWrapper span.arrowUp {
    display: none;
}
.toast-body {
    color: #000;
}
iframe {
    height: 100%;
    border-radius: 1rem;
}
.changelog-modal {
    height:40%;
    border-radius: 1.3rem!important;
}
.changelog-btn {
    margin: 0%!important;
}
.progress {
    width: 80%;
    margin: auto;
}
.progress-bar {
    background: -webkit-linear-gradient(left, #FDDD00 0%, #34C33D 25%, #00BD4D 50%, #00CD93 75%, #00E1E6 100%);
}