vendor/*
files/*
inc/logs/*
inc/plugins/*
!inc/plugins/index.php
inc/config/*
!config.json.example
!files/index.php
assets/images/*/*
!assets/images/*
!assets/images/custom/index.php
composer.lock
_archive
.DS_Store
test.*
php.error.log