{
    "System": {
        "rbacjson": "config/rbac.json",
        "rbacinfo": "config/rbac-info.json",
        "logfilename": "ib-sa-tools",
        "logdirectory": "logs/",
        "loglevel": "Debug",
        "logretention": "30",
        "CURL-Timeout": "180",
        "CURL-ConnectTimeout": "90"
    },
    "Security": {
        "salt": "somesupersecurepasswordhere"
    },
    "SecurityAssessment": {
        "TemplateName": "template-sept-24.pptx",
        "ThreatActorSlide": "32"
    }
}