{
    "System": {
        "logfilename": "php-ef",
        "logdirectory": "logs/",
        "loglevel": "Debug",
        "logretention": "30",
        "CURL-Timeout": "180",
        "CURL-ConnectTimeout": "90"
    },
    "Styling": {
        "websiteTitle": "PHP-EF",
        "logo-sm": {
            "Image": "", // EXAMPLE: /assets/images/custom/my-logo-sm.png
            "CSS": ""
        },
        "logo-lg": {
            "Image": "", // EXAMPLE: /assets/images/custom/my-logo-lg.png
            "CSS": "" // EXAMPLE: height: 37px; margin: 5px 0px 0px 50px
        },
        "favicon": {
            "Image": "" // EXAMPLE: /assets/images/custom/my-favicon.svg
        },
        "html": {
            "homepage": "<h2>PHP Extensible Framework</h2>\r\n<hr>\r\n<div class=\"row\">\r\n  <div class=\"form-group col-md-12\">\r\n    <p>Welcome to the PHP-EF Homepage.</p>\r\n    <p>You can use this to build your own custom web applications through the use of plugins.</p>\r\n  </div>\r\n</div>",
            "about": "<h2>PHP Extensible Framework</h2>\r\n<hr>\r\n<div class=\"row\">\r\n  <div class=\"form-group col-md-12\">\r\n    <p>Welcome to the PHP-EF Homepage.</p>\r\n    <p>You can use this to build your own custom web applications through the use of plugins.</p>\r\n  </div>\r\n</div>"
        }
    },
    "Security": {
        "salt": "somesupersecurepasswordhere"
    },
    "LDAP": {
        "enabled": false,
        "AutoCreateUsers": true,
        "ldap_server": "ldap://ldap.forumsys.com",
        "service_dn": "cn=read-only-admin,dc=example,dc=com",
        "service_password": "password",
        "user_dn": "dc=example,dc=com",
        "base_dn": "dc=example,dc=com",
        "attributes": {
            "Username": "sAMAccountName",
            "FirstName": "givenName",
            "LastName": "sn",
            "Email": "mail",
            "Groups": "memberOf",
            "DN": "distinguishedName"
        }
    },
    "SAML": {
        "enabled": false,
        "AutoCreateUsers": true,
        "strict": true,
        "debug": false,
        "sp": {
            "entityId": "https://fqdn/",
            "assertionConsumerService": {
                "url": "https://fqdn/api/auth/acs"
            },
            "singleLogoutService": {
                "url": "https://fqdn/api/auth/slo"
            },
            "x509cert": "",
            "privateKey": ""
        },
        "idp": {
            "entityId": "https://saml.example.com/entityid",
            "singleSignOnService": {
                "url": "https://mocksaml.com/api/saml/sso"
            },
            "singleLogoutService": {
                "url": "https://mocksaml.com/api/saml/slo"
            },
            "x509cert": "MIIC4jCCAcoCCQC33wnybT5QZDANBgkqhkiG9w0BAQsFADAyM..."
        },
        "attributes": {
            "Username": "email",
            "FirstName": "firstName",
            "LastName": "lastName",
            "Email": "email",
            "Groups": "groups"
        }
    }
}