* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#responseArea, #domain-container, #port-container, #submit-container {
    width: 100%;
    display: block;
    clear: both;
}
[class*="responseRow"] {
    width: 100%;
    margin-top: 40px;
}
[class*="responseRow"] table {
    background-color: #ccc;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}

[class*="responseRow"] table tr td {
    background-color: #ccc;
    padding: 5px;
}

body.dark-theme [class*="responseRow"] table tr:nth-child(1n) td {
    background-color: #383737;
}

body.dark-theme [class*="responseRow"] table tr:nth-child(2n) td {
    background-color: #666565;
}

[class*="responseRow"] table tr:nth-child(1n) td {
    background-color: #FFF;
}

[class*="responseRow"] table tr:nth-child(2n) td {
    background-color: #eee;
}

.twoCol:first-child td:first-child {
    border-top-left-radius: 10px;
}

.twoCol:first-child td:last-child {
    border-top-right-radius: 10px;
}

.twoCol:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.twoCol:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.oneCol:last-child td {
    border-radius: 10px 10px 0 0;
}

.oneCol:last-child td {
    border-radius: 0 0 10px 10px;
}

table {
    width: 100%;
    border: 0;
}

.btn, .thead {
    background-color: #63b706 !important;
}
.thead {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.thead {
    border-radius: 10px 10px 0 0;
}

td {
    padding: 5px;
    text-align: left;
}

.left-row {
    width: 60px;
}

.last-row {
    height: 1em;
    background-color: white !important;
}

caption { 
    background-color: rgb(90,85,90);
    font-weight: bold;
    padding-top: .7em; 
    padding-bottom: .7em; 
    letter-spacing: .085em;
    text-align: center !important;
}

.form-label {
    align-items: center;
    width:auto;
    float: left;
    margin: 10px 10px 10px 0;
    text-align: center;
    padding:10 0 10 0;
}

.logo-style1 {
    color:#63b706;
    font-weight: bold;
}

footer {
    padding-top: 50px;
}

.icons {
  color: #63b706;
}
