/* body {
    background-color: #1a1a1a!important;
    color: #ffffff!important;
    font-family: Arial, sans-serif!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100vh!important;
    margin: 0!important;
} */
.nav > li {
    width: 100%;
}
.nav > li > a {
    display: block;
    position: relative;
    padding: 10px 15px;
}
a {
    text-decoration: none!important;
}
.mainContainer {
    width: 100%;
    padding: 20px;
}
.main-child-panel {
    float: none!important;
}
.content {
    text-align: center;
    /* background-color: #333333; /* Slightly lighter dark color for contrast */
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.toggleThemeBtn-li {
    bottom: 0;
    position: fixed;
    margin: auto;
}
.infoBtn-li {
    bottom: 0;
    left: 50px;
    position: fixed;
    margin: auto;
    padding-bottom: 1px;
}
.footnote {
    text-align: center;
    background-color: #333333; /* Slightly lighter dark color for contrast */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footnote a {
  color: white;
}
.calendar > div, .calendar > div > h5 {
    display: inline-block;
}
.genInfo {
    width: 50%;
    margin: auto;
}
input, button {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button {
    background-color: #0078d4; /* Blue color */
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px!important;
}
button:hover {
    background-color: #005a9e; /* Darker blue on hover */
}
.loading-icon {
    display: none;
    margin-top: 10px;
}
.saveBtn {
  position: relative;
  left: 0;
  transition: left 0.3s;
  visibility: hidden;
}
.show {
  left: -25px;
  visibility: visible;
}
.bootstrap-table {
    padding: 10px;
}
.info-nav {
    flex-wrap: nowrap!important;
}
.tab-content {
    margin-left: 10px;
    margin-top: 5px;
}
.form-select {
    display: inline-block!important;
    /* width: 10%!important; */
    padding: .575rem 2.5rem .575rem .75rem!important;
}
.apiKey {
    padding-left: 25%;
    padding-right: 5%;
}
.apiKey > input {
    width: 90%;
}
input {
    border: 1px solid #ced4da;
}
.realm > select {
    margin-top:10px;
}
.calendar > h5 {
    display: inline-block;
}
.flatpickr-month div {
    padding: 0!important;
}
.flatpickr-time > div > input {
    padding: 0 0 20 0!important;
}
.flatpickr-current-month > .numInputWrapper span.arrowDown, .flatpickr-current-month > .numInputWrapper span.arrowUp {
    display: none;
}
.toast-body {
    color: #000;
}
.iframeWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 100%;
}
.iframeWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.changelog-modal {
    height:40%;
    border-radius: 1.3rem!important;
}
.changelog-btn {
    margin: 0%!important;
}
.progress {
    width: 80%;
    margin: auto;
}
.progress-bar {
    background: -webkit-linear-gradient(left, #FDDD00 0%, #34C33D 25%, #00BD4D 50%, #00CD93 75%, #00E1E6 100%);
}
.license-card-group {
    margin: 1% 10% 1% 10%;
}

/* On screens that are less than 991px wide, make the sidebar into a topbar */
@media screen and (max-width: 991px) {
    .sidebar {
        display: block!important;
    }

    .main-panel {
        width: calc(100% - 260px)!important;
    }

    .sidebar-wrapper {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar-wrapper li {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar {
        display: block!important;
    }

    .main-panel {
        width: calc(100% - 260px)!important;
    }

    .sidebar-wrapper {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar-wrapper li {float: left;}
    div.content {margin-left: 0;}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar {
        display: none!important;
    }
    .main-panel {
        width: 100%!important;
    }
    .sidebar-wrapper li {
      text-align: center;
      float: none;
    }
  }